.textFieldStyle{
    margin-left: 5%;
    padding-left:10px;
    padding-right:10px;
    border-radius: 25px;
    outline-width: 0;
}

.sendButtonStyle{
    margin-left: 30%;
    margin-top: 10px;
    padding-left:25px;
    padding-right:25px;
    border-radius: 25px;
}